<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FDL FOOD</title>
  </head>
  <body>
    <header>
    <a href="#content" class="skip-link">Skip to Content?</a>
    </header>

    <div class="menu-mobile">
      <a href="#" class="icon-menu" id="menu">☰</a>
      <a href="#" class="logo-mobile">FDL FOOD</a>
    </div>
    <nav class="nav-mobile" id="navbar">
      <ul class="navlist-mobile">
        <li class="navitems-mobile"><a href="">Home</a></li>
        <li class="navitems-mobile"><a href="#">Favorite</a></li>
        <li class="navitems-mobile">
          <a
            href="https://www.linkedin.com/in/fadillah-rizki-abi-awalia-2556061b2/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <nav class="nav">
      <a href="" class="logo">FDL FOOD</a>
      <ul class="navlist">
        <li class="navitems"><a href="">Home</a></li>
        <li class="navitems"><a href="#">Favorite</a></li>
        <li class="navitems">
          <a
            href="https://www.linkedin.com/in/fadillah-rizki-abi-awalia-2556061b2/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <div
      class="hero"
      style=
    >
      <div class="heroinner">
        <h1 class="herotitle">FDL FOOD</h1>
        <p class="herosubtitle">Best Restaurants and Best Service Quality</p>
      </div>
    </div>

    <main id="content">
      <section class="content">
        <div class="latest">
          <h1>Explore Restaurants</h1>
          <div class="list" id="coba"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>
        Copyright &copy 2023 FDL FOOD by
        <a
          href="https://www.linkedin.com/in/fadillah-rizki-abi-awalia-2556061b2/"
          >FDL Indonesia</a
        >
      </p>
    </footer>
  </body>
</html>
